<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>用户邮箱激活</title>
</head>

<body>
  <div class="text-center text-muted">
    <h1 class="display-5" style="margin-top: 100px"> <%= message %></h1>
    <h2 class="display-5 mt-3">请相信知识永远触手可及！</h2>
    <a class="btn btn-outline-primary mt-5" href="http://localhost:8080" style="font-size: 30px">Back to home
    </a>
    <a class="btn btn-outline-success mt-5 ml-3" href="https://github.com/823406519/ske/issues"
      style="font-size: 30px">Contact us</a>
  </div>
</body>

</html>